#
# zeusis touchscreen driver configuration
#

config TOUCHSCREEN_ZEUSIS_PAD
	bool "zeusis touchpad"
	default n
	help
	  If you say yes here you get support for zeusis touchscreen.

config ZEUSIS_TS_TEST
	bool "zeusis touchpad test"
	default n
	help
	  If you say yes here you get support for zeusis touchscreen.

source "drivers/input/touchscreen/zeusis_pad/panel_pad/Kconfig"
source "drivers/input/touchscreen/zeusis_pad/panel_pad/cyttsp5/Kconfig"

#sensor unification for differ platform
menu "zeusis linux device driver support package"
config ZEUSIS_TP_COLOR_INFO
	bool "zeusis tp color info"
	default n
	help
		get the zeusis tp color information.
endmenu
